.groupinfo {
	border-bottom: 2px solid #333;
}
.classroom {
  padding-top: 15px;
}


li {
	list-style: none;
}

.row {
	margin-top: 5px;
	margin-bottom: 5px;

}

.person-info {
	margin-top: 20px;

}
.view-details {
  @include border-radius(3px);
  font-size: 14px;
  padding: 5px 15px;
}